<div class="container d-flex flex-column justify-content-center align-items-center">
  <h1 class="mt-5">Sorry, user not find.</h1>
  <h2 class="mt-3" style="font-size: small; color: red">Please enter correct email and password.</h2>
  <button class="btn btn-success mt-5"><a href="/" style="text-decoration: none; color: #fff;">Back to
      login</a></button>
</div>