<div class="login-container d-flex justify-content-center">
  <form action="/user_authentication" class="d-flex flex-column justify-content-between align-items-center">
    <h1 class="mb-5">Account Login</h1>
    <input type="text" name="email" class="form-control mb-3" placeholder="Email" aria-label="Email"
      aria-describedby="basic-addon1">
    <input type="text" class="form-control mb-3" placeholder="Password" aria-label="Password"
      aria-describedby="basic-addon1" name="password">
    <button class="btn btn-success mt-5">Sign in</button>
  </form>
</div>